:root {
    --primary-color: #8E9AEF;
    --secondary-color: #1D2587;
    --white-color: #FFFFFF;
    --body-color: #FDFDFD;
    --dark-color: #160731;
    --section-bg: #8E99EF1D;
    --shadow-color: #8E99EF5B;
    --footer-text-color: #EEEEEE;
    --white-transparent: #FFFFFF7D;/*Only for dark background*/
}
* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}
body {
    background-color: var(--body-color);
}
/* scroll_bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: var(--section-bg);
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color); 
}
/* section_ */
.hero-size {
    height: 500px;
    margin-top: 64px;
    margin-bottom: 64px;
}
.section-margin {
    margin-top: 180px;
}
@media only screen and (max-width: 572px) {
    .hero-size {
        height: 230px;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .section-margin {
        margin-top: 120px;
    }
}
.section-bg-1 {
    background-color: var(--section-bg);
}
.header-bg {
    border: 1px solid var(--section-bg);
    background-image: url(/assets/assets/about_header.jpg);
    background-color: #FBFBFD;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}
/* search */
.c-group {
    border: 1px solid var(--primary-color);
}
/* button_css */
.primary-btn {
    color: var(--white-color);
    background-color: var(--primary-color);
}
.primary-btn:hover {
    color: var(--white-color);
    background-color: var(--secondary-color);
}
.outline-btn {
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    background-color: var(--white-color);
    transition: background-color 0.5s ease-in-out;
}
.outline-btn:hover {
    border: 2px solid var(--secondary-color);
    color: var(--white-color);
    background-color: var(--secondary-color);
    transition: background-color 0.5s ease-in-out;
}
.btn-p-1 {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 10px;
}
.btn-p-2 {
    padding: 14px 22px;
}
.c-shadow {
    box-shadow: -6px 6px 18px -8px #8E9AEF;
}
/* border_radius */
.bradius-one {
    border-radius: 16px;
}
.bradius-two {
    border-radius: 20px;
}
.bradius-three {
    border-radius: 24px;
}
.bradius-four {
    border-radius: 32px;
}
.bradius-bottom-1 {
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}
/* margin_padding */

/* icon_sizing */
.icon-size-1 {
    width: 14px;
    width: 14px;
}
.icon-size-2 {
    width: 18px;
    width: 18px;
}
.icon-size-3 {
    width: 24px;
    width: 24px;
}
.icon-size-4 {
    width: 48px;
    width: 48px;
}
.icon-size-5 {
    width: 56px;
    width: 56px;
}
/* heading_css */
.h-highlight {
    color: var(--primary-color);
}
.l-spacing {
    letter-spacing: 1px;
}
/* custom_background_css */
.c-bg-one {
    background-image: linear-gradient(90deg, rgba(170, 134, 255, 0.01) 1.97%, rgba(170, 134, 255, 0.01) 1.97%);
    backdrop-filter: blur(41px);
    box-shadow: 0 4px 8px -6px var(--shadow-color);
}
.h-custom-bg-r {
    position: relative;
    right: 0px;
    background-image: url(/assets/assets/hero_right_asset.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
.h-custom-bg-l {
    position: relative;
    left: 0px;
    background-image: url(/assets/assets/hero_left_asset.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
/* card_css */
.c-card {
    border: 0px;
    border-radius: 24px;
    padding: 24px;
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--white-color);
    box-shadow: -6px 6px 16px -8px var(--shadow-color);
    transition: background-color 0.5s ease-in-out;
    
    &:hover {
        color: var(--white-color);
        background-color: var(--primary-color);
        box-shadow: -6px 6px 16px -4px var(--shadow-color);
        transition: background-color 0.5s ease-in-out;
    }
}
.c-card-2 {
    border: 1px solid var(--primary-color);
    border-radius: 32px;
    padding: 24px;
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--white-color);

    &:hover {
        cursor: pointer;
    }
}
.card-asset-1 {
    width: auto;
    height: 100px;
}
/* footer */
.footer-bg {
    background-color: var(--dark-color);
}
.footer-text {
    color: var(--footer-text-color);
}
.footer-bg a {
    &:hover {
        color: var(--primary-color);
    }
}
.footer-fade-text {
    color: var(--white-transparent);
}
.logo-size {
    height: 60px;
}
.border-fade {
    border-color: var(--white-transparent) !important;
}
