.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-size {
    height: 320px;
}
.swiper-pagination-bullet {
    height: 6px;
    width: 28px;
    border-radius: 3px;
    background: var(--white-color)!important;
}
.swiper-section {
    overflow: hidden;
}
.swiper-container {
    width: 100%;
    height: auto;
    overflow: visible;
}
@media only screen and (max-width: 572px) {
    .swiper-container {
        padding-right: 12px;
    }
}